<link rel="stylesheet" href="./develop/css/styles.css" />
<link
  rel="stylesheet"
  href="./develop/components/AdviceGenerator/AdviceGenerator.css"
/>

<div class="card">
  <div class="card__content">
    <h2 class="card__title">advice #117</h2>

    <p class="card__quote">
      "It is easy to sit up and take notice, what's difficult is getting up and
      taking action."
    </p>
  </div>

  <div class="card__divider">
    <picture>
      <source
        srcset="./develop/assets/images/pattern-divider-desktop.svg"
        media="(min-width: 48em)"
      />

      <source
        srcset="./develop/assets/images/pattern-divider-mobile.svg"
        media="(min-width: 23.4375em)"
      />

      <img src="./develop/assets/images/pattern-divider-mobile.svg" alt="" />
    </picture>
  </div>

  <button class="btn--dice" aria-labelledby="label">
    <span id="label" hidden>Generator Advice</span>

    <svg
      aria-hidden="true"
      focusable="false"
      width="24"
      height="24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20 0H4a4.005 4.005 0 0 0-4 4v16a4.005 4.005 0 0 0 4 4h16a4.005 4.005 0 0 0 4-4V4a4.005 4.005 0 0 0-4-4ZM7.5 18a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z"
        fill="#202733"
      />
    </svg>
  </button>
</div>
